@import url(header.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --cor-titulo: #EB9B00;
    --cor-texto: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}