.cabecalho__menu-hamburger {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__label-burger {
    padding: 1rem;
    margin-bottom: auto;
}

.container__imagem {
    padding: 1rem;
}

.container__texto {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
}

.container__botao, .menu__botao {
    display: none;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.container__botao:checked ~ .container__label-burger > .cabecalho__menu-hamburger {
    background-image: url(../assets/MenuAberto.svg);
}

.container__botao:checked ~ .container__label-burger {
    background: var(--cor-texto);
}

.lista-menu__titulo, .lista-menu__item {
    text-decoration: none;
    padding: 1rem;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--cor-titulo);
    font-weight: 700;
}

.lista-menu__link {
    text-decoration: none;
    background: var(--cor-texto);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho{
        padding: 0 3rem;
    }

    .container__titulo {
        font-family: var(--fonte-secundaria);
        font-size: 1.875rem;
        font-weight: 400;
        display: block;
        color: var(--preto);
    }

    .-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        gap: 1.5rem;
    }

    .opcoes__item {
        text-transform: uppercase;
        padding: 2rem 0.5rem;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__label-burger {
        display: none;
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburger {
        display: none;
    }

    .menu__botao:checked ~ .lista-menu {
        display: block;
    }

    .menu__botao:checked ~ .container__label-categorias > .opcoes__item {
        color: var(--branco);
        background: var(--cor-texto);
    }

    .lista-menu__item:hover {
        background: var(--cor-texto);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .lista-menu {
        width: auto;
    }
}

@media screen and (min-width: 1728px) {

    .container__imagem {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
    }

    .container__imagem-transparente {
        display: none;
    }

    .container__texto {
        display: block;
        color: var(--preto);
    }

    .opcoes {
        margin: 0 auto 0 5rem;
    }

}